{% load static %}

<header class="fixed top-0 left-0 w-full z-10">
    <nav class="text-cyan-200 font-semibold bg-cyan-950 p-6 flex items-center justify-between">
        <div class="flex items-center">
            <a href="/"><img class="h-8 mr-4 w-auto ml-4 rounded-lg" src="{% static "images/US_SQB-2.jpeg" %}" alt="#"></a>
            <a href="/"><span class="text-cyan-500/60 text-lg font-bold">{{ company_name_small }}</span></a>
            </a>
        </div>
    
        <div class="mr-4 hidden md:flex">
            {% include "includes/links.html" %}
        </div>
    
        <div class="text-center mr-4 hidden md:flex">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}?next={{request.path}}">logout</a>
            {% else %}
                <a href=" {% url "login" %} ">login</a>
            {% endif %}
        </div>

        <div id='hamburger' class='flex justify-end md:hidden h-8 items-center'>
            <div class='w-6 space-y-1 mx-3'>
                <div class="h-1 bg-black"></div>
                <div class="h-1 bg-black"></div>
                <div class="h-1 bg-black"></div>
            </div>
        </div>
    
        <nav id='menu' class='flex flex-col absolute top-0 bg-gray-400 w-full hidden'>
            {% include "includes/links.html" %}
            <a href="">Login &#10132;</a>
        </nav>
    </nav>
</header>