{% load static %}

<header class="fixed top-0 left-0 w-full z-10">
    <nav class="text-cyan-200 font-semibold bg-cyan-950 p-6 flex items-center justify-between">
        <div class="flex items-center">
            <a href="/"><img class="h-8 mr-4 w-auto ml-4 rounded-lg" src="{% static "images/US_SQB-2.jpeg" %}" alt="#"></a>
            <a href="/"><span class="text-cyan-500/60 text-lg font-bold hidden sm:flex">{{ company_name }}</span></a>
            </a>
        </div>
    
        <div class="mr-4 hidden md:flex">
            {% include "includes/links.html" %}
        </div>
    
        <div class="text-center mr-4 hidden md:flex">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}?next={{request.path}}">logout</a>
            {% else %}
                <a href=" {% url "login" %} ">login</a>
            {% endif %}
        </div>
    </nav>
</header>