<div class="text-center border-dashed border-2 border-gray-300 pl-2">
    <input type="radio" {% if process_page == 1 %}checked{% endif %} disabled> {% if process_page == 1 %}<i>{% endif %}<a href="{% url "process_location" %}">Location</a>{% if process_page == 1 %}</i>{% endif %}
    <span class="text-2xl">〉</span>
    <input type="radio" {% if process_page == 2 %}checked{% endif %} disabled> {% if process_page == 2 %}<i>{% endif %}<a href="{% url "process_bank" %}">Bank</a>{% if process_page == 2 %}</i>{% endif %}
    <span class="text-2xl">〉</span>
    <input type="radio" {% if process_page == 3 %}checked{% endif %} disabled> {% if process_page == 3 %}<i>{% endif %}<a href="{% url "process_activity" %}">Activity</a>{% if process_page == 3 %}</i>{% endif %}
    <span class="text-2xl">〉</span>
    <input type="radio" {% if process_page == 4 %}checked{% endif %} disabled> {% if process_page == 4 %}<i>{% endif %}<a href="{% url "process_bankloan" %}">Bank loan</a>{% if process_page == 4 %}</i>{% endif %}
    <span class="text-2xl">〉</span>
    <input type="radio" {% if process_page == 5 %}checked{% endif %} disabled> {% if process_page == 5 %}<i>{% endif %}<a href="{% url "process_guaranteedamountrequested" %}">Guaranteed amount requested</a>{% if process_page == 5 %}</i>{% endif %}
    <span class="text-2xl">〉</span>
    <input type="radio" {% if process_page == 6 %}checked{% endif %} disabled> {% if process_page == 6 %}<i>{% endif %}<a href="{% url "process_sbaapprouval" %}">SBA approuval</a>{% if process_page == 6 %}</i>{% endif %}
</div><br>