{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
{% include '../common/process_status_mini.html'%}Guaranteed amount requested
{% endblock title %}

{% block content %}
<h1 class="text-4xl font-bold mb-4">{{ Name }} <small><small><small>[{% include '../common/process_status.html'%}]</small></small></small></h1>
{% include '../common/process.html' with process_page=5 %}
<h2 class="text-3xl font-bold mb-4">Guaranteed amount requested</h2>

{% if errors %}
    <div class="bg-red-200 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Errors:</strong>
        {{ errors }}
    </div><br>
{% endif %}

<form action="{% url 'process_guaranteedamountrequested' %}" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-4">
    {% csrf_token %}
    <div class="bg-blue-50 p-1 rounded-md">
        Gross amount of loan approved by bank: {{ form.GrAppv|add_class:"input_style" }}
    </div>
    <div class="bg-blue-50 p-1 rounded-md">
        <b>SBA’s guaranteed amount of approved loan:</b><br>
        min: <input id="SBA_Appv_min" name="SBA_Appv_min" value="{{ form.GrAppv.value }}"><br>
        max: <input name="SBA_Appv_max" value="{{ SBA_Appv_max }}"><br>
        step: <input name="SBA_Appv_step" value="1000">
    </div>
    <div class="md:col-span-3">
        <button type="submit"
            class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none
            focus:bg-blue-600">Submit</button>
        <button type="submit" name="submit_next"
            class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none
            focus:bg-blue-600">Submit + next ➡️</button>
        
        {% if form.process_status.value == 2 %}
            <br><br><hr><br>
            <button type="submit" name="try_approval"
                class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none
                focus:bg-blue-600">🤘 Try SBA’s guaranteed amount of approved loan 🏦</button>
            <br><br><hr>
            {% autoescape off %}
                {{ try_approval }}
            {% endautoescape %}
        {% endif %}
    </div>
</form>
{% endblock content %}

{% block right-column %}
{% include '../common/links.html' %}
<br><hr><br>
{% include '../common/info.html' %}
{% endblock right-column %}