{% extends "base.html" %}

{% block title %}
{% include '../common/process_status_mini.html'%}Bank loan
{% endblock title %}

{% block content %}
<h1 class="text-4xl font-bold mb-4">{{ Name }} <small><small><small>[{% include '../common/process_status.html'%}]</small></small></small></h1>
{% include '../common/process.html' with process_page=4 %}
<h2 class="text-3xl font-bold mb-4">Bank loan</h2>

{% if errors %}
    <div class="bg-red-200 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Errors:</strong>
        {{ errors }}
    </div><br>
{% endif %}

<form action="{% url 'process_bankloan' %}" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-4">
    {% csrf_token %}
    <div class="bg-blue-50 p-1 rounded-md">
        Approval Date (Date SBA commitment issued): {{ form.ApprovalDate }} [YYYY-MM-DD]
    </div>
    <div class="bg-blue-50 p-1 rounded-md">
        Approval FY (Fiscal year of commitment): <input maxlength="4" name="date_ApprovalFY" value="{{ form.ApprovalFY.value|date:'Y' }}"> [YYYY]
    </div>
    <div class="bg-blue-50 p-1 rounded-md">
        Term (Loan term in months): {{ form.Term }}
    </div>
    <div class="md:col-span-3">
        <button type="submit"
            class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none
            focus:bg-blue-600">Submit</button>
        <button type="submit"  name="submit_next"
            class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none
            focus:bg-blue-600">Submit + next ➡️</button>
    </div>
</form>
{% endblock content %}

{% block right-column %}
{% include '../common/links.html' %}
<br><hr><br>
{% include '../common/info.html' %}
{% endblock right-column %}