{% extends "base.html" %}

{% block title %}
SBA approuval
{% endblock title %}

{% block content %}
<h1 class="text-4xl font-bold mb-4">{{ Name }}</h1>
{% include '../common/process.html' with process_page=6 %}
<h2 class="text-3xl font-bold mb-4">SBA approuval</h2>
<form action="{% url 'process_sbaapprouval' %}" method="post" class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-4">
    {% csrf_token %}
    <div class="bg-cyan-100 p-1 rounded-xl">
        Name: {{ form.Name }}
    </div>
    <div class="bg-cyan-100 p-1 rounded-xl">
        City: {{ form.City }}
    </div>
    <div class="bg-cyan-100 p-1 rounded-xl">
        State: {{ form.State }}
    </div>
    <div class="bg-cyan-100 p-1 rounded-xl">
        Zip: {{ form.Zip }}
    </div>
    <div class="md:col-span-3">
        <button type="submit"
            class="inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit</button>
    </div>
</form>
{% endblock content %}

{% block right-column %}
{% include '../common/links.html' %}
{% endblock right-column %}