{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - {{ company_name }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body class="pt-20">
    {% include "includes/header.html" %}
    
    <div class="flex flex-col lg:flex-row">
        <div class="min-h-screen text-cyan-900 p-10 lg:w-2/3">
            {% block content %}{% endblock content %}
        </div>
        <div class="bg-cyan-100 text-cyan-900 p-10 lg:w-1/3">
            {% if user.is_authenticated %}
                <span>Logged as: <i>{{user.get_username}}</i></span>
            {% else %}
                <span>You are not logged<br>
                [ <a href=" {% url "login" %} ">login</a> ]</span>
            {% endif %}
            <hr>
            {% block right-column %}{% endblock right-column %}
        </div>
    </div>
    
    <div class="hidden sm:block">
        <br>
        <br>
    </div>
    {% include "includes/footer.html" %}
    
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>