{% load static %}
{% load static tailwind_tags %}

{% comment %} sudo apt purge nodejs npm
sudo apt autoremove {% endcomment %}
{% comment %} https://zippy-twig-11a.notion.site/Servir-les-fichiers-static-en-production-8d74d2c97aa34d10b321645626b42be1 {% endcomment %}
{% comment %} https://whitenoise.readthedocs.io/en/stable/index.html {% endcomment %}
{% comment %} https://linuxtldr.com/npx-package-runner/ {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - {{ company_name }}</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/output.css" %}"> {% endcomment %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>
<body class="pt-12">
    {% include "includes/header.html" %}
    
    <div class="flex flex-col lg:flex-row">
        <div class="min-h-screen text-cyan-900 p-12 lg:w-2/3">
            {% block content %}{% endblock content %}
        </div>
        <div class="bg-gray-100 text-cyan-900 p-12 lg:w-1/3">
            {% if user.is_authenticated %}
                <span>Logged as: <i>{{user.get_username}}</i></span>
            {% else %}
                <span>You are not logged<br>
                [ <a href=" {% url "login" %} ">login</a> ]</span>
            {% endif %}
            <br>
            <br>
            <hr>
            <br>
            {% block right-column %}{% endblock right-column %}
        </div>
    </div>
    
    <div class="hidden sm:block">
        <br>
        <br>
    </div>
    {% include "includes/footer.html" %}
    
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>